h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  background-color: #ffffff;
  color: #161e2e;
  font-weight: 500;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
}

a {
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
/* hidden elements for desktop */
@media screen and (max-width: 767px) {
  .nav-list, .header-link-btn, .chekbox, .custom-checkbox-container {
    display: none;
  }
.nav-header{
  padding: 16px 38px;
  box-shadow: 0px -5px 5px -5px rgba(0, 184, 113, 0.15);
}

.header-container {
  padding: 32px 0px 0px 0px;
}
  
}
/* /hidden elements for desktop */
.nav-logo-link {
  display: block;
 
  background-color: #ffffff;
  color: #161e2e;
}
.logo-transparent {
  display: inline-block;
    height: 33px;
  padding: 9px 0 12px 28px;
   border-radius: 2px;
  background-color: #00b871;
}

.mobile-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: transparent;
  background-color: transparent;
  line-height: 0;
  fill: #00b871;
  
}
/* mobile menu container */
.header-mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 35px;
  padding-left: 16px;
  background-color: #00b871;
  transform: translateY();
  
}
.header-mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.header-mobile-menu-list-item {
font-size: 24px;
}
.header-mobile-menu-list-link {
  color: #f4fbf7;
  fill: #f4fbf7;
}

.header-mobile-link-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  /* margin: 0 auto; */
padding: 14px 32px 14px 32px;
border: none;
border-radius: 4px;
background-color: #2fdf84;
color: #f4fbf7;
font-size: 14px;
line-height: 2;
}

.header-link-website {
  color: inherit;
}

.mobile-link-btn-item {
  display: inline-block;
  margin-left: 15px;
  fill: #f4fbf7;
}

/* /mobile menu container */