h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  background-color: #ffffff;
  color: #161e2e;
  font-weight: 500;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
}

a {
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
/* hidden elements for desktop */
@media screen and (max-width: 767px) {
  .nav-list, .header-link-btn, .chekbox, .custom-checkbox-container {
    display: none;
  }
.nav-header{
  padding: 16px 38px;
  box-shadow: 0px -5px 5px -5px rgba(0, 184, 113, 0.15);
}

.header-container {
  padding: 32px 0px 0px 0px;
}
  
}
  
/* /hidden elements for desktop */
.nav-logo-link {
  display: block;
 
  background-color: #ffffff;
  color: #161e2e;
}
.logo-transparent {
  display: inline-block;
    height: 33px;
  padding: 9px 0 12px 28px;
   border-radius: 2px;
  background-color: #00b871;
}

.mobile-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: transparent;
  background-color: transparent;
  line-height: 0;
  fill: #00b871;
  
}